

:root {
    --rojo: #852;
    --blanco: white;
    --azulclaro: #0097a7;
    --amarillo: #ffee00c9;
    --grisclaro: #dfe9f3;
    --gris: #3a3737;



    --fuente-principal: 2.5rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: "Merriweather", serif;
    background-image: linear-gradient(to top,var(--grisclaro) 0%, var(--blanco) 100%); /*degradado*/
}

.servicios, 
.nav,
.formulario, .footer {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.8rem;
    font-weight: 800;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

.nav {
    background-color: var(--azulclaro);
}

.navegacion1 {
   display: flex;   
   justify-content: space-evenly;
}

@media (max-width: 768px){
    .navegacion1{
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width: 480px){
    .navegacion1{
        flex-direction: column;
    }
}

.navegacion1 a {
   color: var(--blanco);
   text-decoration: none;
   font-size: 1.8rem;
   font-weight: 700;
   padding: 1rem;
}

.navegacion1 a:hover {
    background-color: var(--amarillo);
    color: black;
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, 
.contenido-hero p {
    color: aliceblue;
}

.ubicacion {
    display: flex;
    align-items: flex-end;
}

.boton  {
    background-color: rgb(115, 115, 190);
    color: aliceblue;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    border: none;
    transition: all 0.4s ease;
}

@media (min-width: 768px){
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 30);
    background-color: rgba(200, 200, 200, 10);
    color: black;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.sombra {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 5px;
}

@media (min-width: 760px){
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--azulclaro);
    font-weight: normal;
}

.servicio p {
    line-height: 2;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--amarillo);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100%); 
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--amarillo);
}

@media (min-width: 760px){
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 9rem;
        column-gap: 1rem;
    }
}

.campos:nth-child(3), .campos:nth-child(4) {
    grid-column: 1 / 3;
}
.campos:nth-child(5){
    grid-column: 1 / 3;
}

.campos {
    margin-bottom: 1rem;
}

.campos label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campos textarea {
    height: 20rem;
}

.text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.footer {
    text-align: center;
}